:host {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .input {
        width: 45%;
    }

    .keyboards {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 250px;
        overflow: auto;

        .title {
            color: white;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .no-content-message {
            color: white;
            font-size: 14px;
            font-style: italic;
        }
    }
}
